# Example1. (default)
# This configure will make msgs with topic topic1 be shared in DDS network and MQTT network.
# It receive messages from MQTT network in topic DDSCMD/topic1 and send them to DDS network with topic MQTT/topic1.
# It receive messages from DDS network in topic MQTTCMD/topic1 and send them to MQTT network with topic DDS/topic1. 

@mqttrecv_topic. DDSCMD/topic1
@ddssend_topic.  MQTT/topic1

@ddsrecv_topic.  MQTTCMD/topic1
@mqttsend_topic. DDS/topic1

@ddsidltype.     topic1Type
@ddsdomainid.    0
